body{
  /* background-image: url('background.jpg') !important;
  background-attachment: fixed !important; */
  background-color: #ecf0f1 !important;

}

#topContent{
  margin-left: 90px;
}
#mapid {
  margin-top: 30px;
  height: 700px;
}

#test{
  margin-top: 30px;
  height: 700px;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#detailMarket{
  margin-top: 100px;
  padding-bottom: 50px;
  color: white !important;
  background-color: #34495e;
}

.small{
  font-size: 2em !important;
}
#detailMarketTitle{
  padding-top: 20px;
  background-color: #34495e;
  border-radius: 50%;
  position: relative;
  top: -45px;
}

.white{
  color: white !important;
}

.leaflet-container {
  background-color:#34495e !important;
  border-radius: 10px;
}

.pushable > .pusher {
/* background-image: url('background.jpg') !important;
background-attachment: fixed !important; */
background-color: #ecf0f1 !important;
}

#dontShowAgain{
  margin-top: 20px;
}

#buttonContinueToWebSite{
  margin-top: 20px;
}

.menu {
  padding-top: 50px;
}

#menuBtn {
  background-color: white !important;
  position: fixed;
  margin-left: 10px;
  margin-top: 10px;
}

#logo {
  margin-top: 40px;
  margin-bottom: 10px;
}

#smooth{
  padding-top: 50px;
  height: 100vh;
}

#filter{
  background: #34495ee3;  
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}


#splashscreen {
  display: none;
  
  z-index: 2000; 
  background-image: url("splash.png"); 
  background-repeat: no-repeat;
  background-size: cover;

  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0.4948179955575981) 100%, rgba(255,255,255,0) 100%); 
 */

color: white;
  background-color: #2c3e50;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#title{
  margin-top: 20px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}


#loader{
  position: relative;
  top: 0;
  left: 0;
  height: 700px;
  z-index: 100000;
}


#textSplashScreen{
  font-size: 1.2em;
}